/* line 4, ../sass/application.sass */
.inner {
  font-family: Helvetica, Arial, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}
/* line 8, ../sass/application.sass */
.inner h1 {
  text-align: center;
}

/* line 10, ../sass/application.sass */
.buttons {
  overflow: hidden;
  *zoom: 1;
}

/* line 12, ../sass/application.sass */
.shave, #timer {
  width: 400px;
  font-size: 36px;
  background: crimson;
  margin: 12px auto;
  color: white;
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border-color: red;
  text-align: center;
}

/* line 22, ../sass/application.sass */
#timer {
  border: none;
  float: none;
}

/* line 25, ../sass/application.sass */
#yak {
  display: none;
  margin: 40px auto;
  width: 800px;
  height: 600px;
  position: relative;
}
/* line 31, ../sass/application.sass */
#yak.small {
  width: 200px;
  height: 150px;
}
/* line 34, ../sass/application.sass */
#yak.medium {
  width: 400px;
  height: 300px;
}
/* line 37, ../sass/application.sass */
#yak.large {
  width: 800px;
  height: 600px;
}
/* line 40, ../sass/application.sass */
#yak #body {
  position: absolute;
  background: url(../images/yak.png) no-repeat;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
/* line 46, ../sass/application.sass */
#yak #fur {
  position: absolute;
  background: url(../images/fur.png) no-repeat;
  background-size: 100%;
  left: 16%;
  top: 18%;
  width: 66%;
  height: 100%;
  -webkit-mask-image: url(../images/mask.png);
  -webkit-mask-position-x: 0%;
  -webkit-mask-position-y: 100%;
  -webkit-mask-size: 305%;
}
/* line 58, ../sass/application.sass */
#yak #razor {
  position: absolute;
  background: url(../images/razor.png) no-repeat;
  background-size: 100%;
  width: 12.6%;
  height: 26.3%;
  display: none;
}
