#yak
  width: 800px
  height: 600px
  position: relative
  #body
    position: absolute
    background: url(../images/yak.png) no-repeat
    background-size: 100%
    width: 100%
    height: 100%
  #fur
    position: absolute
    background: url(../images/fur.png) no-repeat
    background-size: 100%
    left: 16%
    top: 18%
    width: 66%
    height: 100%
    -webkit-mask-image: url(../images/mask.png)
    -webkit-mask-position-x: 0%
    -webkit-mask-position-y: 100%
  #razor
    position: absolute
    background: url(../images/razor.png) no-repeat
    background-size: 100%
    width: 101px
    height: 158px
    display: none